#autocomplete {
    position: relative;
    grid-column: 4 / 6;
    grid-row: 1;
    transform: translateY(-100%);
    background-color: #ffffff;
    transition: all .4s ease-in-out;
    border-radius: 0 0 5px 5px;
    z-index: 1;
}
#autocomplete::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    content: "\f107";
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left:50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #333;
}
#autocomplete:hover{
    transform: translateY(0);
}

.autocompleteInputHelper,
.autocompleteInput {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
}
.autocompleteInput {
    height: 25px;
    background: transparent;
    color: #333;
    border-bottom: 1.5px solid rgba(51, 51, 51, .5);
}
.autocompleteInputHelper {
    color:rgb(170, 170, 170);
}