#pollution{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    grid-row: 2;
    grid-column: 1 / 9;
}
.pollutionInfoContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 90px;
    background: rgb(240, 240, 240);
    box-shadow: 1px 1px 5px;
    
}
.pollutionInfoContainer > h2{
    margin: 10px 0 0 0;
    font-size: 1.7em;
}
.pollutionInfoContainer > span{
    font-size: .7em;
}
.pollutionInfoContainer > p{
    font-size: 1em;
}