#container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:  50px 200px auto;
    background-image: linear-gradient(to bottom, #247aff, #165fc9, #094596, #022d66, #001639);
}